[submodule "Unit-Testing-and-Test-Driven-Development-in-Python"]
	path = Unit-Testing-and-Test-Driven-Development-in-Python
	url = git@github.com:michaeldallen/Unit-Testing-and-Test-Driven-Development-in-Python.git
[submodule "The-Modern-Python-3-Bootcamp"]
	path = The-Modern-Python-3-Bootcamp
	url = git@github.com:michaeldallen/The-Modern-Python-3-Bootcamp.git
[submodule "Learn-DevOps-CI-CD-with-Jenkins-using-Pipelines-and-Docker"]
	path = Learn-DevOps-CI-CD-with-Jenkins-using-Pipelines-and-Docker
	url = git@github.com:michaeldallen/Learn-DevOps-CI-CD-with-Jenkins-using-Pipelines-and-Docker.git
[submodule "Ansible-for-the-Absolute-Beginner---Hands-On---DevOps"]
	path = Ansible-for-the-Absolute-Beginner---Hands-On---DevOps
	url = git@github.com:michaeldallen/Ansible-for-the-Absolute-Beginner---Hands-On---DevOps.git
[submodule "Ansible-Advanced---Hands-On---DevOps"]
	path = Ansible-Advanced---Hands-On---DevOps
	url = git@github.com:michaeldallen/Ansible-Advanced---Hands-On---DevOps.git
